<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a type="button" th:href="@{/example/rest/c2}">Click</a>
    <h1 th:if="${isActive}">Hello I am REST</h1>

    <form method="get" action="/example/rest/c2">
        <button type="submit">Get data</button>
    </form>

  <h1>File load start</h1>
    <input type="file">
  <h1>File load end</h1>

    <input type="text" th:value="${messages}" id="ac">
    <button onclick="start()">Click</button>

  <button onclick="startAgain()">Click again</button>


    <div id="data">
        data
    </div>
  <script>

    function start(){
        fetch("/example/rest/c2")
            .then(response => {
                console.log(response);
                response.json()
            })
            .then(data => console.log(data));
     }

     function startAgain(){
        fetch("/example/rest/c2/name")
            .then(response => response.json())
            .then(data => console.log(data))
     }

</script>
</body>
</html>