<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    <style>
    body{
      background-color: blue;
    }
  </style>
    <title>Title</title>
</head>
<body>
  <h1>Welcome to our page</h1>



  <form class="form-signin" method="get" action="/login">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

  <form class="form-signin" method="get" action="/lesson/five/registration">

      <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
  </form>

  <form class="form-signin" method="get" action="/lesson/five/inside/user">
      <button class="btn btn-lg btn-primary btn-block" type="submit">User Page</button>
  </form>

  <form class="form-signin" method="get" action="/lesson/five/inside/admin">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Admin Page</button>
  </form>
</body>
</html>